body {
  background-color: white;
}

.header {
  width: 1440px;
  height: 100px;
  background-color: white;
}

.header--text {
  width: 1440px;
  height: 70px;
  display: flex;
  background-color: white;
}

.header__text--1 {
  width: 500px;
  height: 50px;
  margin-left: 20px;
  background-color: white;
}

.header__text--2 {
  width: 500px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 42px;
  margin-right: 50px;
  margin-left: auto;
}
a {
  color: #333136;
  font-family: Jost;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px; /* 100% */
  letter-spacing: 2px;
  text-decoration: none;
}

.header__text--2 a:hover {
  color: #f39e8b;
  transition: all 0.5s;
}

.hero {
  width: 1111px;
  height: 640px;
  flex-shrink: 0;
  display: flex;
  border-radius: 15px;
  background: #e7816b;
  margin-right: auto;
  margin-left: auto;
}

.hero--right {
  width: 265px;
  height: 559px;
  flex-shrink: 0;
  padding-top: 140px;
  padding-right: 30px;
  padding-left: 290px;
}

.IMG {
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
}

h1 {
  width: 540px;
  height: 165px;
  flex-shrink: 0;
  color: #fff;
  font-family: Jost;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 48px; /* 100% */
}

p {
  width: 445px;
  color: #fff;
  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}

button {
  width: 152px;
  height: 56px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #fff;
}

button:hover {
  background-color: #e7816b;
  transition: all 0.5s;
}

.hero--left {
  width: 300px;
  height: 250px;
  flex-shrink: 0;
  padding-top: 145px;
  padding-right: 105.29px;
  padding-bottom: 145px;
  padding-left: 70px;
}
